# Build
/build/
/cmake-build-debug/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.make
Makefile

# Executables / object files
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out

# IDE / OS
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
.DS_Store
Thumbs.db

# Logs
*.log

# Compdb
compile_commands.json

