[submodule "third_party/tracy"]
	path = c++/third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/spdDlog"]
	path = c++/third_party/spdDlog
	url = https://github.com/gabime/spdlog.git
